@model IEnumerable<Home>

<div class="weather-container">
        @foreach (var item in Model)
        {
            <div class="card weather-card">
                <div class="card-body">
                    <h5 class="card-title">天気情報</h5>
                    <p class="card-text"><strong>@Html.DisplayNameFor(m => m.Date):</strong>@item.Date</p>
                    <p class="card-text"><strong>@Html.DisplayNameFor(m => m.Description):</strong>@item.Description</p>
                    <img class="card-text" src=@item.WeatherIcon alt="@item.Description"/>
                    <p class="card-text"><strong>@Html.DisplayNameFor(m => m.Temp):</strong>@item.Temp ℃</p>
                    <p class="card-text"><strong>@Html.DisplayNameFor(m => m.Humidity):</strong>@item.Humidity %</p>
                </div>
            </div>
        }
</div>


<div class="todayLaundry">
    <h5>洗濯物を干せるか</h5>
    @if(ViewBag.isHanging == true)
    {
        <img src="~/IMG/sentakuOK.png" alt="洗濯物を干せます"/>
    }
    else
    {
        <img src="~/IMG/sentakuNO.png" alt="洗濯物を干せません"/>
    }
</div>

